* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*CABEZA*/
header {
  position: fixed;
}
/*FIN CABEZA*/

/* BARRA DE NAVEGACION */
#barra{
  background-color: #d299c2;
}
/* FIN BARRA DE NAVEGACION */

html{
  scroll-behavior: smooth;
}

/*REDES SOCIALES
.social{
  position: fixed;
  left: 0;
  top: 30%;
  z-index:2000;
}

.social ul{
  list-style: none;
}

.social ul li a{ 
  box-shadow: 0px 0px 5px #d299c2;
  padding: 2px 2px;
  text-decoration: none;
}

.social ul li a:hover{
  padding: 2px 2px;
  background: #d299c2;
}
/*FIN REDES SOCIALES*/


/*INICIO*/
section {
  height: 650px;
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}

section h2, h3 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 5px;
  text-align: center;
}

section h6 {
  text-align: center;
}

section p {
  font-weight: 300;
  margin-bottom: 15px;
  text-align: justify;
}

section a {
  display: inline-block;
  padding: 7px 0;
}

#sec1 {
  padding-top: 10%;
}

#sec2 {
  padding-top: 10%;
  background-image: linear-gradient(to bottom, #d299c2 0%, #fef9d7 100%);
}

#sec2 table.center {
  margin-left: 10%;
  margin-right: 10%;
}

#sec2 table tr, td {
  padding: 12px;
  border-top: 1px solid rgb(219, 4, 219);
}

#sec3 {
  padding-top: 10%;
}

#sec3 table {
  margin-inline-start: 25%;
}
#sec3 table tr, td{
  border: 2px dotted rgb(219, 4, 219);  
}

#sec4 {
  padding-top: 10%;
  background-image: linear-gradient(to bottom, #d299c2 0%, #fef9d7 100%);
}

#sec5 {
  padding-top: 10%;
}

#sec6 {
  padding-top: 10%;
  background-image: linear-gradient(to bottom, #d299c2 0%, #fef9d7 100%);
}
/*FIN INICIO*/

/*PIE DE PAGINA*/

/*FIN PIE DE PAGINA*/